<h1>Its time for them burgs</h1>

<h2>These are burgs that have not been eaten yet</h2>

<div class="col-sm-6">
    <ul>
        {{#each burgers}}
            {{#unless devoured}}
                {{> burgers/burgers-block}}
            {{/unless}}
         {{/each}}
    </ul>
</div>    

<h2>Burgs that have been devoured!</h2>
<div class="col-sm-6">
    <ul>
        {{#each burgers}}
            {{#if devoured}}
                {{> burgers/burgers-block devoured=true}}
            {{/if}}    
        {{/each}}
    </ul>
</div>

<h2>Add a Burger</h2>

<form class="create-burger">
    <div class="form-group">
        <label for="burg">Burger Name:</label>
        <input type="text" id="burg" burger_name="burger_name">
    </div>
    <button type="submit">Add a Burger</button>
</form>